*.log
Notes
tmp
.tmp
envAWS.json
envAWS2.json
Dailytask.exe
DailyTask.zip
KanjiServer.exe
KanjiServer.zip

Lambdatest/LambdaBuilder.bat
lambda-handler.zip
/node_modules
/kanjijitsu-ui/build
