html{
  --kanji-box-width: 250;
  --box-count: 8;
}

.App {
  background-image: url("\\Images\\Shiny Overlay.svg");
  background-size: cover;
}

@font-face {
  font-family: "Kanji-Fancy";
  src: url(Font/BIZUDMincho-Bold.ttf) format("truetype");
}

.App-Body {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-Toolbar {
  position: absolute;
  display: flex;
  justify-content: right;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Kanji-Selector-Subtitle{
  font-size: 30px;
  color: white;
}

.App-header {
  font-size: calc(20px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Kanji-Selector {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: row-reverse;
}

.Kanji-Game-Stage-1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width:100%;
}

.Kanji-Game-Board {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.Kanji-Game-Board-Left {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.Kanji-Game-Button {
  --border-width: 3;
  padding: 12px 20px;
  font-size: 1rem;
  border-width: calc(var(--border-width)* 1px);
  border-style: solid;
  border-color: black;
  border-radius: 6px;
  text-align: center;
  outline: transparent;
  transition: border-color calc(var(--transition, 0.2)* 1s) ease;
  font-size: 1rem;
  color: black;
  margin-right: 10px;
  min-width: 320px;
  font-size: 20px;
}

.Kanji-Game-Board-Tile {

}

.Kanji-Game-Board-Right {
  width: 100%;
  align-items:start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px; 
}

.Kanji-Box {
  border-width: 3px;
  border-style: solid;
  border-color: black;
  border-radius: 6px;
  margin: 10px;
  font-family: "Kanji-Fancy", Verdana, Tahoma;
  font-size: 120px;
  min-width: 10rem;
  min-height: 10rem;
}

.Kanji-Box-N1 {
  background-color: rgb(255, 186, 186);
}
.Kanji-Box-N2 {
  background-color: rgb(255, 211, 186);
}
.Kanji-Box-N3 {
  background-color: rgb(255, 254, 186);
}
.Kanji-Box-N4 {
  background-color: rgb(211, 255, 186);
}
.Kanji-Box-N5 {
  background-color: rgb(186, 255, 203);
}

.Kanji-Score-Board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.Kanji-Score {
  font-size: 2rem;
}

.Vocab-Box {
  border-width: 3px;
  border-style: solid;
  border-color: black;
  border-radius: 6px;
  margin: 10px;
  min-width: calc(1px * var(--kanji-box-width));
  min-height: 15rem;
  display: flex;
  flex-direction: column;
}

.Vocab-Box-Hidden {
  background-color: transparent;
}

.Vocab-Box-Common {
  background-color: rgb(186, 255, 203);
}

.Vocab-Box-Rare {
  background-color: rgb(248, 248, 248);
}

.Vocab-Box-Kanji {
  --wordLength: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  min-height:  75px;
  font-family: "Kanji-Fancy";
  font-size: calc(80px - (4px * var(--wordLength)));
  align-content: center;
}

.Vocab-Box-Kanji-Hidden-Full {
  --wordLength: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  min-height:  75px;
  font-family: "Kanji-Fancy";
  font-size: calc(120px - (4px * var(--wordLength)));
  align-content: center;
  height: 100%;
}

.Vocab-Box-Kanji-Hidden {
  --wordLength: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  min-height:  75px;
  font-family: "Kanji-Fancy";
  font-size: calc(120px - (4px * var(--wordLength)));
  align-content: center;
}

.Vocab-Box-Reading {
  font-family: "Kanji-Fancy";
  font-size: 20px;
  margin: 20px;
}


.Vocab-Box-Gloss-Container {
  margin: 10px;
}

.Vocab-Box-Gloss {
  font-weight: bold;
}

.Vocab-Box-Link-Footer {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-flow: column-reverse;
}

.Vocab-Box-Link {
  margin: 10px;
}

.Vocab-Typer {
  display: inline;
  width:100%;
}

.Vocab-Input {
  --border-width: 3;
  width: 80%;
  max-width: 20rem;
  padding: 12px 20px;
  font-size: 20px;
  border-width: calc(var(--border-width)* 1px);
  border-style: solid;
  border-color: black;
  border-radius: 6px;
  text-align: center;
  outline: transparent;
  transition: border-color calc(var(--transition, 0.2)* 1s) ease;
  margin: 5px;
}

.Vocab-Input-Button {
  --border-width: 3;
  padding: 12px 20px;
  font-size: 20px;
  border-width: calc(var(--border-width)* 1px);
  border-style: solid;
  border-color: black;
  border-radius: 6px;
  text-align: center;
  outline: transparent;
  transition: border-color calc(var(--transition, 0.2)* 1s) ease;
}

.Vocab-List {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 90%;
  overflow-x: auto;
  margin: 10x;
  background-color:rgba(255, 255, 255, 0.425);
  border-radius: 6px;
  width: calc((var(--kanji-box-width) + 25) * var(--box-count) * 1px);
}

.switch-container {
  margin: 10px;
  width: 70px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 34px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
  display: flex;
  justify-content: flex-end;
}

.slider-text {
  display: flex;
  align-items: center; /* Vertical center alignment */
  margin: 10px;
  font-weight: bold;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 2px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
}

input:checked + .slider {
  justify-content: flex-start;
}